$black: black;
$white: white;
$desert_storm: #f1f1f0;

$color__background-body: $white;
$color__background-hr: #ccc;
$color__background-button: $white;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-heading: $black;
$color__text-main: #858585;
$color__text-input: #858585;
$color__text-input-focus: #111;
$color__link: #858585; //royalblue
$color__link-visited: $black; //purple
$color__link-hover: $black; //midnightblue

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #858585;
